[Unit]
Description=RustDesk relay service
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=rustdesk-hbbr
Image=docker.io/rustdesk/rustdesk-server:1.1.14
Exec=hbbr
Network=host
Volume=/srv/containers/rustdesk/data:/root:Z

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
